.checkout-items-ctr {
  grid-column: 1 / 6;
  
  .checkout-item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    box-sizing: border-box;
    padding: 5px 0;
    border-bottom: 1px solid darkgrey;

    &__item {
      margin: 0 auto;

      &._img {
        height: 150px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &._text,
      &.group {
        margin-top: 4rem;
      }

      &.group {
        display: flex;

        .group__text {
          margin: 0 .3rem;
        }

        .group__arrow {
          cursor: pointer;
        }
      }

      &._remove {
        cursor: pointer;
      }
    }
  }

  .checkout-item:first-child {
    border-top: 1px solid darkgrey;  
  }
}

