// ASSETS
@import './Assets/normalize/normalize.scss'; // NORMALIZE

@font-face {
  font-family: 'OpenSansCondensed';
  font-weight: normal;
  font-style: normal;
  src: url('./Assets/font/OpenSansCondensed-Light.ttf') format('truetype');
} // OPEN SANS CONDENSED NORMAL

@font-face {
  font-family: 'OpenSansCondensed';
  font-style: italic;
  font-weight: normal;
  src: url('./Assets/font/OpenSansCondensed-LightItalic.ttf') format('truetype');
} // OPEN SANS CONDENSED ITALIC

@font-face {
  font-family: 'OpenSansCondensed';
  font-style: normal;
  font-weight: bold;
  src: url('./Assets/font/OpenSansCondensed-Bold.ttf') format('truetype');
} // OPEN SANS CONDENSED BOLD


// CHECKOUT PAGE
@import './Components/page-components/checkout/checkout-page.scss'; // PAGE
@import './Components/page-components/checkout/checkout-item/checkout-item.scss';

// AUTH PAGE
@import './Components/page-components/auth/sign-in/sign-in.scss'; // SIGN IN
@import './Components/page-components/auth/sign-up/sign-up.scss'; // SIGN UP


// DEFAULT STYLES

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'OpenSansCondensed';
  padding: 1.5rem 3.5rem;
}

a {
  text-decoration: none;
  color: black;
}